<div class="container mobile">
  <img src="/assets/logo_p6.png" alt="logo" />
  <input type="checkbox" id="nav-checkbox" class="nav-checkbox">
  <!-- checkbox => menuBurger les 3barres sont le label + before + after -->
  <nav class="menus nav-mobile">

    <label for="nav-checkbox" class="blur"></label>
    <div class="burger-menu">

      <ul>
        <li> <a routerLink="/articles" [class.active]="active==='articles'">Articles</a>
        </li>
        <li> <a routerLink=" /themes" [class.active]="active==='themes'">Thèmes</a> </li>
      </ul>
      <mat-icon class=" person" routerLink="/profile"
        [class.active-profile]="active==='profile'">person_outline</mat-icon>
    </div>

  </nav>
  <label for=" nav-checkbox" class="nav-checkbox-label">
    <span></span>
  </label>
</div>
<div class="container desktop">
  <img src="/assets/logo_p6.png" alt="logo" />
  <nav class="nav-desktop">
    <ul>
      <li> <a [routerLink]="['/articles']" [class.active]="active==='articles'">Articles</a>
      </li>
      <li> <a [routerLink]="['/themes']" [class.active]="active==='themes'">Thèmes</a> </li>
    </ul>
    <mat-icon class=" person" routerLink="/profile"
      [class.active-profile]="active==='profile'">person_outline</mat-icon>
  </nav>
</div>
<hr>